*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 60px;
    width: 100%;
    background-color: rgb(53, 45, 45);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: white;
    
}
h4{
    font-weight: 300;
}
#center{
    height: 700px;
    width: 100%;
    background-color: black;
    text-align: center;
    align-items: center;
}
#center h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    font-weight: 300;
}
#center h4{
    color: white;
    font-size: 30px;
    text-align: center;
}
#links{
    padding-top: 20px;
}
#links button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: none;
}
#img{
    height: 400px;
    background-size: cover;
}
